body{
    margin: 0%;
}
 
img{
    height: 370px;
    padding: 120px;
}
 .contenedor{
    background-color: bisque;
    height: 80vh;
    margin: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    
 }

 h2{
    display: flex;
    flex-direction: column;
    text-align:  center;
    
    font-size: 40px;
    padding: 80px;
 } 
 

.logo{
    background-color: wheat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    

}
.logo img{
    height: 100px;
    display: flex;
    
    
    
}
a{
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    padding: 10px;
 }
 nav a:hover{
    color: violet;
 }
